{%  extends "nblayout.html" %}
{% block notices %}
<div class="col-md-8 column">
  {% for notice in notices %}
			<div class="panel panel-default">
				<div class="panel-heading ">
          <p class="description">{{ notice.description }}</p>
				</div>
        	{% if notice.postername %}
				<div class="panel-body">
				<img src='/uploads/poster/{{notice.postername}}' class='img-responsive' />
				</div>
        {% endif%}
        {% if notice.docname %}
				<div class="panel-footer">
          Attachment:<a href='/uploads/docs/{{notice.docname}}'>{{notice.docname}}</a>
				</div>
        {% endif %}

			</div>
  <div class="panel">
    <form method=post action="" >
      <div class="form-group">
        <input class="form-control" type=password name="password" placeholder="password" required></div>
    <div class="form-group">
  <label class="radio-inline">
    <input type="radio" name="approval" id="optionsRadios1" value="true" checked>
   Approve
  </label>


  <label class="radio-inline">
    <input type="radio" name="approval" id="optionsRadios2" value="false">
    Delete
      </label></div>
<div class="form-group">
      <button type=submit name="postid" value="{{notice.id}}" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  {% else %}
  <h3>No New Notices !</h3>
  {% endfor %}
		</div>
{% endblock %}